@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Seller @ViewData["Seller"]</p>
<p>Our app to record sales from our salespeople.</p>

<address>
    <strong>More information send e-mail for:</strong> @ViewData["Email"]
</address>
